#################################
#    Grid backend variables     #
#################################

### Custom variables - this seciton must be provided by the entity running this backend stack. See documentation.
# Enter the (sub)domain name that will be used to host this backend.
# Example: DOMAIN=grid.tf
DOMAIN=


### Default variables - managed by this repo
# Grid image versions - Don't change !
0-DB_IMG=development-v2
0-HUB_IMG=master
