# The Caddyfile is an easy way to configure your Caddy web server.
#
# Unless the file starts with a global options block, the first
# uncommented line is always the address of your site.
#
# To use your own domain name (with automatic HTTPS), first make
# sure your domain's A/AAAA DNS records are properly pointed to
# this machine's public IP, then replace ":80" below with your
# domain name.

#:80 {
	# Set this path to your site's directory.
#	root * /usr/share/caddy

	# Enable the static file server.
#	file_server

	# Another common task is to set up a reverse proxy:
	# reverse_proxy localhost:8080

	# Or serve a PHP site through php-fpm:
	# php_fastcgi localhost:9000
#}

# Refer to the Caddy docs for more information:
# https://caddyserver.com/docs/caddyfile
tfchain.bknd1.dev.ava.tf {
        reverse_proxy 172.28.0.2:9944 {
                header_up Host {upstream_hostport}
        }
                metrics /metrics
        log {
                output file /var/log/caddy/caddy_access_tfchain.log
                format json
        }
        tls info@threefold.tech
}

graphql.bknd1.dev.ava.tf {
        reverse_proxy 172.28.0.9:4000 {
                header_up Host {upstream_hostport}
        }
        log {
                output file /var/log/caddy/caddy_access_graphql.log
                format json
        }
        tls info@threefold.tech
}

gridproxy.bknd1.dev.ava.tf {
        reverse_proxy 172.28.0.11:443 {
                header_up Host {upstream_hostport}
        }
        log {
                output file /var/log/caddy/caddy_access_gridproxy.log
                format json
        }
        tls info@threefold.tech
}

activation.bknd1.dev.ava.tf {
        reverse_proxy 172.28.0.10:3000 {
                header_up Host {upstream_hostport}
        }
        log {
                output file /var/log/caddy/caddy_access_activation.log
                format json
        }
        tls info@threefold.tech
}

dashboard.bknd1.dev.ava.tf {
        reverse_proxy 172.28.0.12:80 {
                header_up Host {upstream_hostport}
        }
        log {
                output file /var/log/caddy/caddy_access_dashboard.log
                format json
        }
        tls info@threefold.tech
}

play.bknd1.dev.ava.tf {
        reverse_proxy 172.28.0.13:80 {
                header_up Host {upstream_hostport}
        }
        log {
                output file /var/log/caddy/caddy_access_play.log
                format json
        }
        tls info@threefold.tech
}
